### Database works.
In this **notebook** we have a lot of good stuff:

In [1]:
%load_ext sql
import os, getpass, time, xuleta

user = input("Username: ")
password = getpass.getpass('Enter your password: ')
database = input("Database: ")
connection_string = "postgresql://%s:%s@localhost/%s" %(user,password,database)
%sql $connection_string

Username: denis
Enter your password: ········
Database: drought

'Connected: denis@drought'

### INPUT PARAMETERS
Make sure the **table** matches the list provide in the NODATA DICTIONARY block

In [2]:
schema = "modis_sul"
table = "prec"
imfolder = "/media/denis/seagate/prec_chirps/chirps/americas_prec_monthly"

In [4]:
t0 = time.time()
#avoiding cagadas when inputing the image folder
if imfolder[-1] != "/":
    imfolder = imfolder + "/"
# NODATA DICTIONARY
nodatas = {}
# Fill in the entries one by one
nodatas["gpp"] = 32767
nodatas["albedo"] = 32767
nodatas["psn"] = 32767
nodatas["ndvi"] = -20000 #usar o convertido para int16, cheaper!
nodatas["lstd"] = 65535
nodatas["lstn"] = 65535
nodatas["vpd"] = -32768
nodatas["zscore_dec"] = -32768
nodatas["anom_dec"] = -32768
nodatas["t04"] = -9999 #for ESI
nodatas["t12"] = -9999 #for ESI
nodatas["prec"] = -9999 #for raw precipitation

#and set the nodata value to be used from now on
nodata = str(nodatas[table])
print("nodata value for %s is set to %s" %(table.upper(),nodata))

nodata value for PREC is set to -9999

### Creating Schema and table

It might not be necessary to create a schema.

In [5]:
SQL = ("CREATE SCHEMA %s;" %(schema))
%sql $SQL

(psycopg2.ProgrammingError) schema "chirps" already exists
 [SQL: 'CREATE SCHEMA chirps;']

In [6]:
#CREATING TABLE
SQL = ("""
CREATE TABLE %s.%s(
rid serial NOT NULL,
rast RASTER,
filename text,
acquisition date,
CONSTRAINT %s_%s_pkey
PRIMARY KEY (rid));
CREATE INDEX %s_%s_wkb_rast_idx
ON %s.%s
USING GIST (ST_ConvexHull(rast)); """ 
       %(schema,table,schema,table,schema,table,schema,table))
%sql $SQL

Done.
Done.

[]

In [7]:
%%time
comment = table.upper() + " data for " + schema + "."
SQL = ("""
COMMENT ON TABLE %s.%s 
IS '%s'
"""
    %(schema,table,comment))
%sql $SQL

Done.
CPU times: user 0 ns, sys: 0 ns, total: 0 ns
Wall time: 144 ms

### Importing images to the database

You can watch the verbose in the terminal to make sure that things are going ok.

In [8]:
importraster = "raster2pgsql -a -C -F -M -s 4326 -t 100x100 -N %s %s*.tif %s.%s | psql -p 5432 -d drought -U denis" %(nodata,imfolder,schema,table)
print(importraster)

raster2pgsql -a -C -F -M -s 4326 -t 100x100 -N -9999 /media/denis/seagate/prec_chirps/chirps/americas_prec_monthly/*.tif chirps.prec | psql -p 5432 -d drought -U denis

In [9]:
%%time
os.system(importraster)

CPU times: user 4 ms, sys: 8 ms, total: 12 ms
Wall time: 2min 17s

0

#### Creating date index from filename

In [10]:
%%time
SQL = ("""
UPDATE %s.%s
    SET acquisition = date(
    substring(filename FROM 1 FOR 4) || '-' ||
    substring(filename FROM 6 FOR 2) || '-' ||
    substring(filename FROM 9 FOR 2))::date;
    
CREATE INDEX %s_acquisition_idx
    ON %s.%s (acquisition);
"""
      %(schema,table,table,schema,table))
#execute query
%sql $SQL

82400 rows affected.
Done.
CPU times: user 12 ms, sys: 0 ns, total: 12 ms
Wall time: 37.4 s

In [10]:
taime = (time.time() - t0)/60
xuleta.shemale(taime)

FileNotFoundError: [Errno 2] No such file or directory: '/home/denis/pCloud Sync/DeniStuff/conho.txt'

### Testing

In [12]:
point = [str(-92.891),str(42.436)]#US
point = [str(-38.8),str(-8.03)] #PB

dates = [('1980-10-29'),('2017-01-09')]

In [13]:
# POINT BASED TEST
SQL = ("""SELECT 
        rid, 
        acquisition,
        ST_Value(rast, ST_SetSRID(ST_MakePoint(%s,%s), 4326))/1000 AS %s
    FROM %s.%s
         WHERE ST_Intersects(ST_SetSRID(ST_MakePoint(%s,%s), 4326), rast)
           AND acquisition BETWEEN '%s' AND '%s'
    ORDER BY acquisition;
"""
%(point[0],point[1],table,schema,table,point[0],point[1],dates[0],dates[1]))
print(SQL)
%sql $SQL

SELECT
        rid,
        acquisition,
        ST_Value(rast, ST_SetSRID(ST_MakePoint(-38.8,-8.03), 4326))/1000 AS prec
    FROM chirps.prec
         WHERE ST_Intersects(ST_SetSRID(ST_MakePoint(-38.8,-8.03), 4326), rast)
           AND acquisition BETWEEN '1980-10-29' AND '2017-01-09'
    ORDER BY acquisition;

201 rows affected.

[(238, datetime.date(2000, 1, 25), 0.285),
 (638, datetime.date(2000, 2, 25), 0.266),
 (1038, datetime.date(2000, 3, 25), 0.275),
 (1438, datetime.date(2000, 4, 25), 0.205),
 (1838, datetime.date(2000, 5, 25), 0.046),
 (2238, datetime.date(2000, 6, 25), 0.031),
 (2638, datetime.date(2000, 7, 25), 0.017),
 (3038, datetime.date(2000, 8, 25), 0.011),
 (3438, datetime.date(2000, 9, 25), 0.013),
 (3838, datetime.date(2000, 10, 25), 0.021),
 (4238, datetime.date(2000, 11, 25), 0.106),
 (4638, datetime.date(2000, 12, 25), 0.131),
 (5038, datetime.date(2001, 1, 25), 0.154),
 (5438, datetime.date(2001, 2, 25), 0.301),
 (5838, datetime.date(2001, 3, 25), 0.226),
 (6238, datetime.date(2001, 4, 25), 0.066),
 (6638, datetime.date(2001, 5, 25), 0.042),
 (7038, datetime.date(2001, 6, 25), 0.037),
 (7438, datetime.date(2001, 7, 25), 0.025),
 (7838, datetime.date(2001, 8, 25), 0.01),
 (8238, datetime.date(2001, 9, 25), 0.026),
 (8638, datetime.date(2001, 10, 25), 0.03),
 (9038, datetime.date(2001, 11, 25), 0.106),
 (9438, datetime.date(2001, 12, 25), 0.318),
 (9838, datetime.date(2002, 1, 25), 0.254),
 (10238, datetime.date(2002, 2, 25), 0.175),
 (10638, datetime.date(2002, 3, 25), 0.223),
 (11038, datetime.date(2002, 4, 25), 0.123),
 (11438, datetime.date(2002, 5, 25), 0.06),
 (11838, datetime.date(2002, 6, 25), 0.04),
 (12238, datetime.date(2002, 7, 25), 0.027),
 (12638, datetime.date(2002, 8, 25), 0.009),
 (13038, datetime.date(2002, 9, 25), 0.011),
 (13438, datetime.date(2002, 10, 25), 0.02),
 (13838, datetime.date(2002, 11, 25), 0.051),
 (14238, datetime.date(2002, 12, 25), 0.207),
 (14638, datetime.date(2003, 1, 25), 0.244),
 (15038, datetime.date(2003, 2, 25), 0.186),
 (15438, datetime.date(2003, 3, 25), 0.161),
 (15838, datetime.date(2003, 4, 25), 0.093),
 (16238, datetime.date(2003, 5, 25), 0.056),
 (16638, datetime.date(2003, 6, 25), 0.022),
 (17038, datetime.date(2003, 7, 25), 0.013),
 (17438, datetime.date(2003, 8, 25), 0.007),
 (17838, datetime.date(2003, 9, 25), 0.01),
 (18238, datetime.date(2003, 10, 25), 0.027),
 (18638, datetime.date(2003, 11, 25), 0.047),
 (19038, datetime.date(2003, 12, 25), 0.411),
 (19438, datetime.date(2004, 1, 25), 0.569),
 (19838, datetime.date(2004, 2, 25), 0.276),
 (20238, datetime.date(2004, 3, 25), 0.12),
 (20638, datetime.date(2004, 4, 25), 0.082),
 (21038, datetime.date(2004, 5, 25), 0.069),
 (21438, datetime.date(2004, 6, 25), 0.029),
 (21838, datetime.date(2004, 7, 25), 0.018),
 (22238, datetime.date(2004, 8, 25), 0.008),
 (22638, datetime.date(2004, 9, 25), 0.01),
 (23038, datetime.date(2004, 10, 25), 0.018),
 (23438, datetime.date(2004, 11, 25), 0.043),
 (23838, datetime.date(2004, 12, 25), 0.103),
 (24238, datetime.date(2005, 1, 25), 0.165),
 (24638, datetime.date(2005, 2, 25), 0.355),
 (25038, datetime.date(2005, 3, 25), 0.288),
 (25438, datetime.date(2005, 4, 25), 0.068),
 (25838, datetime.date(2005, 5, 25), 0.082),
 (26238, datetime.date(2005, 6, 25), 0.054),
 (26638, datetime.date(2005, 7, 25), 0.017),
 (27038, datetime.date(2005, 8, 25), 0.009),
 (27438, datetime.date(2005, 9, 25), 0.011),
 (27838, datetime.date(2005, 10, 25), 0.023),
 (28238, datetime.date(2005, 11, 25), 0.082),
 (28638, datetime.date(2005, 12, 25), 0.075),
 (29038, datetime.date(2006, 1, 25), 0.145),
 (29438, datetime.date(2006, 2, 25), 0.27),
 (29838, datetime.date(2006, 3, 25), 0.252),
 (30238, datetime.date(2006, 4, 25), 0.141),
 (30638, datetime.date(2006, 5, 25), 0.04),
 (31038, datetime.date(2006, 6, 25), 0.028),
 (31438, datetime.date(2006, 7, 25), 0.015),
 (31838, datetime.date(2006, 8, 25), 0.008),
 (32238, datetime.date(2006, 9, 25), 0.018),
 (32638, datetime.date(2006, 10, 25), 0.03),
 (33038, datetime.date(2006, 11, 25), 0.04),
 (33438, datetime.date(2006, 12, 25), 0.055),
 (33838, datetime.date(2007, 1, 25), 0.299),
 (34238, datetime.date(2007, 2, 25), 0.353),
 (34638, datetime.date(2007, 3, 25), 0.141),
 (35038, datetime.date(2007, 4, 25), 0.091),
 (35438, datetime.date(2007, 5, 25), 0.05),
 (35838, datetime.date(2007, 6, 25), 0.023),
 (36238, datetime.date(2007, 7, 25), 0.014),
 (36638, datetime.date(2007, 8, 25), 0.007),
 (37038, datetime.date(2007, 9, 25), 0.011),
 (37438, datetime.date(2007, 10, 25), 0.023),
 (37838, datetime.date(2007, 11, 25), 0.03),
 (38238, datetime.date(2007, 12, 25), 0.082),
 (38638, datetime.date(2008, 1, 25), 0.235),
 (39038, datetime.date(2008, 2, 25), 0.455),
 (39438, datetime.date(2008, 3, 25), 0.477),
 (39838, datetime.date(2008, 4, 25), 0.248),
 (40238, datetime.date(2008, 5, 25), 0.072),
 (40638, datetime.date(2008, 6, 25), 0.03),
 (41038, datetime.date(2008, 7, 25), 0.019),
 (41438, datetime.date(2008, 8, 25), 0.009),
 (41838, datetime.date(2008, 9, 25), 0.011),
 (42238, datetime.date(2008, 10, 25), 0.014),
 (42638, datetime.date(2008, 11, 25), 0.057),
 (43038, datetime.date(2008, 12, 25), 0.132),
 (43438, datetime.date(2009, 1, 25), 0.189),
 (43838, datetime.date(2009, 2, 25), 0.216),
 (44238, datetime.date(2009, 3, 25), 0.363),
 (44638, datetime.date(2009, 4, 25), 0.386),
 (45038, datetime.date(2009, 5, 25), 0.16),
 (45438, datetime.date(2009, 6, 25), 0.043),
 (45838, datetime.date(2009, 7, 25), 0.02),
 (46238, datetime.date(2009, 8, 25), 0.008),
 (46638, datetime.date(2009, 9, 25), 0.039),
 (47038, datetime.date(2009, 10, 25), 0.052),
 (47438, datetime.date(2009, 11, 25), 0.068),
 (47838, datetime.date(2009, 12, 25), 0.189),
 (48238, datetime.date(2010, 1, 25), 0.205),
 (48638, datetime.date(2010, 2, 25), 0.123),
 (49038, datetime.date(2010, 3, 25), 0.155),
 (49438, datetime.date(2010, 4, 25), 0.129),
 (49838, datetime.date(2010, 5, 25), 0.055),
 (50238, datetime.date(2010, 6, 25), 0.037),
 (50638, datetime.date(2010, 7, 25), 0.017),
 (51038, datetime.date(2010, 8, 25), 0.009),
 (51438, datetime.date(2010, 9, 25), 0.059),
 (51838, datetime.date(2010, 10, 25), 0.063),
 (52238, datetime.date(2010, 11, 25), 0.092),
 (52638, datetime.date(2010, 12, 25), 0.194),
 (53038, datetime.date(2011, 1, 25), 0.23),
 (53438, datetime.date(2011, 2, 25), 0.277),
 (53838, datetime.date(2011, 3, 25), 0.271),
 (54238, datetime.date(2011, 4, 25), 0.226),
 (54638, datetime.date(2011, 5, 25), 0.131),
 (55038, datetime.date(2011, 6, 25), 0.034),
 (55438, datetime.date(2011, 7, 25), 0.019),
 (55838, datetime.date(2011, 8, 25), 0.01),
 (56238, datetime.date(2011, 9, 25), 0.023),
 (56638, datetime.date(2011, 10, 25), 0.042),
 (57038, datetime.date(2011, 11, 25), 0.051),
 (57438, datetime.date(2011, 12, 25), 0.071),
 (57838, datetime.date(2012, 1, 25), 0.155),
 (58238, datetime.date(2012, 2, 25), 0.142),
 (58638, datetime.date(2012, 3, 25), 0.045),
 (59038, datetime.date(2012, 4, 25), 0.026),
 (59438, datetime.date(2012, 5, 25), 0.023),
 (59838, datetime.date(2012, 6, 25), 0.022),
 (60238, datetime.date(2012, 7, 25), 0.014),
 (60638, datetime.date(2012, 8, 25), 0.007),
 (61038, datetime.date(2012, 9, 25), 0.009),
 (61438, datetime.date(2012, 10, 25), 0.024),
 (61838, datetime.date(2012, 11, 25), 0.036),
 (62238, datetime.date(2012, 12, 25), 0.121),
 (62638, datetime.date(2013, 1, 25), 0.146),
 (63038, datetime.date(2013, 2, 25), 0.139),
 (63438, datetime.date(2013, 3, 25), 0.209),
 (63838, datetime.date(2013, 4, 25), 0.173),
 (64238, datetime.date(2013, 5, 25), 0.137),
 (64638, datetime.date(2013, 6, 25), 0.101),
 (65038, datetime.date(2013, 7, 25), 0.029),
 (65438, datetime.date(2013, 8, 25), 0.009),
 (65838, datetime.date(2013, 9, 25), 0.022),
 (66238, datetime.date(2013, 10, 25), 0.053),
 (66638, datetime.date(2013, 11, 25), 0.105),
 (67038, datetime.date(2013, 12, 25), 0.094),
 (67438, datetime.date(2014, 1, 25), 0.169),
 (67838, datetime.date(2014, 2, 25), 0.375),
 (68238, datetime.date(2014, 3, 25), 0.374),
 (68638, datetime.date(2014, 4, 25), 0.199),
 (69038, datetime.date(2014, 5, 25), 0.071),
 (69438, datetime.date(2014, 6, 25), 0.042),
 (69838, datetime.date(2014, 7, 25), 0.031),
 (70238, datetime.date(2014, 8, 25), 0.008),
 (70638, datetime.date(2014, 9, 25), 0.017),
 (71038, datetime.date(2014, 10, 25), 0.082),
 (71438, datetime.date(2014, 11, 25), 0.095),
 (71838, datetime.date(2014, 12, 25), 0.13),
 (72238, datetime.date(2015, 1, 25), 0.254),
 (72638, datetime.date(2015, 2, 25), 0.345),
 (73038, datetime.date(2015, 3, 25), 0.257),
 (73438, datetime.date(2015, 4, 25), 0.129),
 (73838, datetime.date(2015, 5, 25), 0.091),
 (74238, datetime.date(2015, 6, 25), 0.056),
 (74638, datetime.date(2015, 7, 25), 0.035),
 (75038, datetime.date(2015, 8, 25), 0.007),
 (75438, datetime.date(2015, 9, 25), 0.011),
 (75838, datetime.date(2015, 10, 25), 0.019),
 (76238, datetime.date(2015, 11, 25), 0.028),
 (76638, datetime.date(2015, 12, 25), 0.186),
 (77038, datetime.date(2016, 1, 25), 0.243),
 (77438, datetime.date(2016, 2, 25), 0.181),
 (77838, datetime.date(2016, 3, 25), 0.138),
 (78238, datetime.date(2016, 4, 25), 0.053),
 (78638, datetime.date(2016, 5, 25), 0.053),
 (79038, datetime.date(2016, 9, 25), 0.003),
 (79438, datetime.date(2016, 10, 25), 0.009),
 (79838, datetime.date(2016, 11, 25), 0.011),
 (80238, datetime.date(2016, 12, 25), 0.056)]

** Polygon based **

In [13]:
dates = [('2007-10-29'),('2008-01-09')]

#POLYGON BASED TEST
SQL = ("""SELECT 
    id_2 , name_1, name_2, acquisition,
    (St_SummaryStats(St_Union(ST_Clip(rast,1,geom, true)))).*
FROM %s.%s , public.usa_adm2
WHERE st_intersects(rast,geom)
    AND acquisition BETWEEN '%s' AND '%s'
    AND name_1 IN ('Nebraska','Illinois')
GROUP BY id_2 , name_1, name_2, acquisition
ORDER BY acquisition;
"""
       %(schema,table,dates[0],dates[1]))
print(SQL)
%sql $SQL

In [24]:
#POLYGON BASED TEST - BRASIL
SQL = ("""SELECT 
    geocodig_m , sigla, nome_munic, acquisition,
    (St_SummaryStats(St_Union(ST_Clip(rast,1,geom, true)))).*
FROM %s.%s , public.br_ne_municipios
WHERE st_intersects(rast,geom)
    AND acquisition BETWEEN '%s' AND '%s'
  --  AND sigla IN ('AL','BA','CE','MA','PB','PE','PI','SE','RN')
GROUP BY geocodig_m , sigla, nome_munic, acquisition
ORDER BY acquisition;
"""
       %(schema,table,dates[0],dates[1]))
print(SQL)
%sql $SQL

SELECT
    geocodig_m , sigla, nome_munic, acquisition,
    (St_SummaryStats(St_Union(ST_Clip(rast,1,geom, true)))).*
FROM chirpsneb.prec , public.br_ne_municipios
WHERE st_intersects(rast,geom)
    AND acquisition BETWEEN '2007-10-29' AND '2008-01-09'
  --  AND sigla IN ('AL','BA','CE','MA','PB','PE','PI','SE','RN')
GROUP BY geocodig_m , sigla, nome_munic, acquisition
ORDER BY acquisition;

12544 rows affected.

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

result = %sql $SQL

result = result.DataFrame()

result.to_csv("teste3.csv")

In [25]:
result = %sql $SQL
result = result.DataFrame()

12544 rows affected.

In [26]:
result.sigla.unique()

array(['MA', 'PI', 'CE', 'RN', 'PB', 'PE', 'AL', 'SE', 'BA'], dtype=object)

In [27]:
result[(result.sigla == 'PB') & (result['count'] == 0)]

,geocodig_m,sigla,nome_munic,acquisition,count,sum,mean,stddev,min,max
791,2500106,PB,agua Branca,2007-10-30,9,-9.0,-1.000000,0.000000,-1.0,-1.0
792,2500205,PB,Aguiar,2007-10-30,13,-2.0,-0.153846,0.360801,-1.0,0.0
793,2500304,PB,Alagoa Grande,2007-10-30,10,-2.0,-0.200000,0.400000,-1.0,0.0
796,2500536,PB,Alcantil,2007-10-30,12,-12.0,-1.000000,0.000000,-1.0,-1.0
797,2500577,PB,Algodao de Jandaira,2007-10-30,6,6.0,1.000000,0.000000,1.0,1.0
798,2500601,PB,Alhandra,2007-10-30,7,-7.0,-1.000000,0.000000,-1.0,-1.0
799,2500700,PB,Sao Joao do Rio do Peixe,2007-10-30,14,-9.0,-0.642857,0.717848,-2.0,1.0
801,2500775,PB,Aparecida,2007-10-30,11,-9.0,-0.818182,0.574960,-2.0,0.0
802,2500809,PB,Aracagi,2007-10-30,7,-2.0,-0.285714,0.451754,-1.0,0.0
804,2501005,PB,Araruna,2007-10-30,7,7.0,1.000000,0.000000,1.0,1.0
805,2501104,PB,Areia,2007-10-30,9,0.0,0.000000,0.000000,0.0,0.0
808,2501302,PB,Aroeiras,2007-10-30,14,-14.0,-1.000000,0.000000,-1.0,-1.0
811,2501500,PB,Bananeiras,2007-10-30,9,1.0,0.111111,0.314270,0.0,1.0
813,2501575,PB,Barra de Santana,2007-10-30,12,-12.0,-1.000000,0.000000,-1.0,-1.0
814,2501609,PB,Barra de Santa Rosa,2007-10-30,26,17.0,0.653846,0.475743,0.0,1.0
815,2501708,PB,Barra de Sao Miguel,2007-10-30,20,-22.0,-1.100000,0.435890,-2.0,0.0
818,2502003,PB,Belem do Brejo do Cruz,2007-10-30,22,1.0,0.045455,0.208299,0.0,1.0
820,2502102,PB,Boa Ventura,2007-10-30,7,-7.0,-1.000000,0.000000,-1.0,-1.0
821,2502151,PB,Boa Vista,2007-10-30,16,1.0,0.062500,0.242061,0.0,1.0
823,2502300,PB,Bom Sucesso,2007-10-30,8,4.0,0.500000,0.500000,0.0,1.0
824,2502409,PB,Bonito de Santa Fe,2007-10-30,8,-8.0,-1.000000,0.000000,-1.0,-1.0
825,2502508,PB,Boqueirao,2007-10-30,13,-11.0,-0.846154,0.661717,-2.0,0.0
828,2502805,PB,Brejo do Cruz,2007-10-30,12,0.0,0.000000,0.000000,0.0,0.0
831,2503100,PB,Cabaceiras,2007-10-30,16,-3.0,-0.187500,0.390312,-1.0,0.0
833,2503308,PB,Cachoeira dos indios,2007-10-30,6,3.0,0.500000,0.500000,0.0,1.0
834,2503407,PB,Cacimba de Areia,2007-10-30,8,-2.0,-0.250000,0.433013,-1.0,0.0
835,2503506,PB,Cacimba de Dentro,2007-10-30,6,2.0,0.333333,0.471405,0.0,1.0
838,2503704,PB,Cajazeiras,2007-10-30,20,4.0,0.200000,0.812404,-1.0,1.0
839,2503753,PB,Cajazeirinhas,2007-10-30,7,0.0,0.000000,0.000000,0.0,0.0
841,2503902,PB,Camalau,2007-10-30,19,-19.0,-1.000000,0.000000,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...
11720,2513901,PB,Sao Bento,2007-12-30,8,-7.0,-0.875000,0.330719,-1.0,0.0
11721,2513927,PB,Sao Bentinho,2007-12-30,7,-7.0,-1.000000,0.000000,-1.0,-1.0
11722,2513943,PB,Sao Domingos do Cariri,2007-12-30,6,0.0,0.000000,0.000000,0.0,0.0
11725,2514008,PB,Sao Joao do Cariri,2007-12-30,23,0.0,0.000000,0.000000,0.0,0.0
11726,2514107,PB,Sao Joao do Tigre,2007-12-30,27,-27.0,-1.000000,0.000000,-1.0,-1.0
11727,2514206,PB,Sao Jose da Lagoa Tapada,2007-12-30,10,0.0,0.000000,0.000000,0.0,0.0
11728,2514305,PB,Sao Jose de Caiana,2007-12-30,7,0.0,0.000000,0.000000,0.0,0.0
11729,2514404,PB,Sao Jose de Espinharas,2007-12-30,23,-23.0,-1.000000,0.000000,-1.0,-1.0
11731,2514503,PB,Sao Jose de Piranhas,2007-12-30,21,0.0,0.000000,0.000000,0.0,0.0
11732,2514552,PB,Sao Jose de Princesa,2007-12-30,7,-7.0,-1.000000,0.000000,-1.0,-1.0
11734,2514651,PB,Sao Jose do Brejo do Cruz,2007-12-30,8,0.0,0.000000,0.000000,0.0,0.0
11735,2514701,PB,Sao Jose do Sabugi,2007-12-30,7,-7.0,-1.000000,0.000000,-1.0,-1.0
11736,2514800,PB,Sao Jose dos Cordeiros,2007-12-30,13,-10.0,-0.769231,0.421325,-1.0,0.0
11737,2514909,PB,Sao Mamede,2007-12-30,18,-18.0,-1.000000,0.000000,-1.0,-1.0
11740,2515203,PB,Sao Sebastiao do Umbuzeiro,2007-12-30,14,-14.0,-1.000000,0.000000,-1.0,-1.0
11741,2515302,PB,Sape,2007-12-30,9,-2.0,-0.222222,0.415740,-1.0,0.0
11742,2515401,PB,Serido,2007-12-30,9,-9.0,-1.000000,0.000000,-1.0,-1.0
11743,2515500,PB,Serra Branca,2007-12-30,24,-6.0,-0.250000,0.433013,-1.0,0.0
11750,2516003,PB,Solanea,2007-12-30,6,-4.0,-0.666667,0.471405,-1.0,0.0
11751,2516102,PB,Soledade,2007-12-30,20,-3.0,-0.150000,0.357071,-1.0,0.0
11753,2516201,PB,Sousa,2007-12-30,22,0.0,0.000000,0.000000,0.0,0.0
11754,2516300,PB,Sume,2007-12-30,26,-26.0,-1.000000,0.000000,-1.0,-1.0
11755,2516409,PB,Campo de Santana,2007-12-30,7,-7.0,-1.000000,0.000000,-1.0,-1.0
11756,2516508,PB,Taperoa,2007-12-30,23,-22.0,-0.956522,0.203931,-1.0,0.0
11757,2516607,PB,Tavares,2007-12-30,10,-10.0,-1.000000,0.000000,-1.0,-1.0
11758,2516706,PB,Teixeira,2007-12-30,6,-6.0,-1.000000,0.000000,-1.0,-1.0
11760,2516805,PB,Triunfo,2007-12-30,7,0.0,0.000000,0.000000,0.0,0.0
11761,2516904,PB,Uirauna,2007-12-30,10,0.0,0.000000,0.000000,0.0,0.0
11762,2517001,PB,Umbuzeiro,2007-12-30,6,0.0,0.000000,0.000000,0.0,0.0
11763,2517100,PB,Varzea,2007-12-30,6,-6.0,-1.000000,0.000000,-1.0,-1.0